<app-page-wrapper heading="Marktweite Statistiken">
  <div class="market cardrow">
    <app-card title="Markt" subtitle="Kumulierte Werte aller AGs">
      <div class="card-bodyrow">
        <div class="chart-container container">
          <app-line-chart
            id="market"
            [url]="marketChartUrl"
            [series]="marketChartSeries"
          ></app-line-chart>
        </div>
      </div>
    </app-card>
  </div>
  <div class="depots cardrow">
    <app-card title="Depots" subtitle="Kumulierte Depots aller AGs">
      <div class="card-bodyrow">
        <div class="chart-container container">
          <app-line-chart
            id="depot"
            [url]="depotChartUrl"
            [series]="depotChartSeries"
          ></app-line-chart>
        </div>
      </div>
    </app-card>
  </div>
  <div class="order cardrow">
    <app-card title="Orderbücher" subtitle="Kumulierte Orderbücher aller AGs">
      <div class="card-bodyrow">
        <div class="chart-container container">
          <app-line-chart
            id="order"
            [url]="orderChartUrl"
            [series]="orderChartSeries"
          ></app-line-chart>
        </div>
      </div>
    </app-card>
  </div>
  <div class="cover cardrow">
    <app-card
      title="Übernahmeschutz"
      subtitle="Anzahl der Spieler mit oder ohne ÜS"
    >
      <div class="card-bodyrow">
        <div class="chart-container container">
          <app-line-chart
            id="cover"
            [url]="coverChartUrl"
            [series]="coverChartSeries"
          ></app-line-chart>
        </div>
      </div>
    </app-card>
  </div>
  <div class="prem cardrow">
    <app-card
      title="Premium"
      subtitle="Anzahl der Spieler mit Gold-, Silber- oder ohne Premium"
    >
      <div class="card-bodyrow">
        <div class="chart-container container">
          <app-line-chart
            id="prem"
            [url]="premChartUrl"
            [series]="premChartSeries"
          ></app-line-chart>
        </div>
      </div>
    </app-card>
  </div>
</app-page-wrapper>
