<app-page-wrapper heading="Marktweite Statistiken" subheading="Gesamtüberblick">
  <div class="market cardrow">
    <app-card title="Markt" subtitle="Kumulierte Werte aller AGs">
      <p>Market Card Body</p>
    </app-card>
  </div>
  <div class="depots cardrow">
    <app-card title="Depots" subtitle="Kumulierte Depots aller AGs">
      <p>Depot Card Body</p>
    </app-card>
  </div>
  <div class="order cardrow">
    <app-card title="Orderbücher" subtitle="Kumulierte Orderbücher aller AGs">
      <p>Order Card Body</p>
    </app-card>
  </div>
  <div class="cover cardrow">
    <app-card
      title="Übernahmeschutz"
      subtitle="Anzahl der Spieler mit oder ohne ÜS"
    >
      <p>Cover Card Body</p>
    </app-card>
  </div>
  <div class="prem cardrow">
    <app-card
      title="Premium"
      subtitle="Anzahl der Spieler mit Gold-, Silber- oder ohne Premium"
    >
      <p>Prem Card Body</p>
    </app-card>
  </div>
</app-page-wrapper>
