<app-page-wrapper
  heading="AG-Name (#wkn)"
  subheading="Alle Statistiken über eine einzelne AG"
>
  <div class="share cardrow">
    <app-card title="Übersicht" subtitle="Kurs und Buchwert-Entwicklung der AG">
      <p>AG Card Body</p>
    </app-card>
  </div>
  <div class="depot cardrow">
    <app-card title="Depot" subtitle="Verlauf der Depotstruktur">
      <p>AG Card Body</p>
    </app-card>
  </div>
  <div class="order cardrow">
    <app-card
      title="Orderbuch"
      subtitle="Summierte Buys und Sells des Orderbuchs"
    >
      <p>AG Card Body</p>
    </app-card>
  </div>
  <div class="handel cardrow">
    <app-card title="Handelsaktivität" subtitle="Verlauf der Handelsaktivität">
      <p>AG Card Body</p>
    </app-card>
  </div>
  <div class="agsx cardrow">
    <app-card title="AGSX-P." subtitle="Entwicklund der täglichen AGSX-P.">
      <p>AG Card Body</p>
    </app-card>
  </div>
</app-page-wrapper>
