<app-page-wrapper
  heading="Index-Name (#id)"
  subheading="Alle Statistiken über einen Index"
>
  <div class="index cardrow">
    <app-card
      title="Übersicht"
      subtitle="Kumulierter BW und Kurs aller Mitglieder"
    >
      <p>Index Card Body</p>
    </app-card>
  </div>

  <div class="depot cardrow">
    <app-card title="Depot" subtitle="Kumulierte Depots aller Mitglieder">
      <p>Index Card Body</p>
    </app-card>
  </div>

  <div class="order cardrow">
    <app-card
      title="Orderbuch"
      subtitle="Kumulierte Orderbücher aller Mitglieder"
    >
      <p>Index Card Body</p>
    </app-card>
  </div>
</app-page-wrapper>
