<app-page-wrapper
  [heading]="index?.name"
  subheading="Alle Statistiken über einen Index"
>
  <div class="index cardrow">
    <app-card
      title="Übersicht"
      subtitle="Kumulierter BW und Kurs aller Mitglieder"
    >
      <div class="card-bodyrow">
        <div class="chart-container container">
          <app-line-chart
            *ngIf="basicChartUrl"
            id="basic"
            [url]="basicChartUrl"
            [series]="basicChartSeries"
          ></app-line-chart>
        </div>
      </div>
    </app-card>
  </div>

  <div class="depot cardrow">
    <app-card title="Depot" subtitle="Kumulierte Depots aller Mitglieder">
      <div class="card-bodyrow">
        <div class="chart-container container">
          <app-line-chart
            *ngIf="depotChartUrl"
            id="depot"
            [url]="depotChartUrl"
            [series]="depotChartSeries"
          ></app-line-chart>
        </div>
      </div>
    </app-card>
  </div>

  <div class="order cardrow">
    <app-card
      title="Orderbuch"
      subtitle="Kumulierte Orderbücher aller Mitglieder"
    >
      <div class="card-bodyrow">
        <div class="chart-container container">
          <app-line-chart
            *ngIf="orderChartUrl"
            id="order"
            [url]="orderChartUrl"
            [series]="orderChartSeries"
          ></app-line-chart>
        </div>
      </div>
    </app-card>
  </div>
</app-page-wrapper>
